.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 150px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 10%, #e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    color: #45454545;
    font-size: 55px;
    font-weight: 600;

}
.newsletter p{
    color: #45454545;
    font-size: 20px;
    
}
.newsletter div{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    padding: 20px 10px;
    outline: none;
    border-radius: 80px;
    font-size: 16px;    
    color: #616161;
}
.newsletter  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 70px;
    border-radius: 80px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: black;
    cursor: pointer;
}